<div class="layout-wrapper">
    <div class="content">

        <div class="content-text-left">
            <div class="eye-popping">
                <h1 class="eye-popping-text">Talk to your money</h1>
            </div>
            <div class="description">
                <h4 class="description-text">
                    Exchange money with no hidden fees.
                    Enjoy secure banking operations with multi-factor authentication.
                    Use a card you already have or we will create one for you.
                </h4>
            </div>
            <div class="buttons">
                <button class="button-start">Start Your Journey</button>
                <button class="button-learn">Learn More</button>
            </div>
        </div>

        <div class="vectors">
            <div class="vector-left"></div>
            <div class="vector-right-light"></div>
            <div class="vector-right-dark"></div>
            <div class="vector-image">
                <img src="assets/images/wallet-mockup.png" class="dashboard-mockup" alt="dashboard-mockup">
            </div>
        </div>
    </div>

    <div class="footer"></div>
</div>
