<div class="grid-container">
  <div class="Balance">
    <div class="Ron">
      <p>Up %2,41</p>
    </div>
    <div class="Total">
      <h1 class="UserAmount">${{userProfile.deposit}}.00</h1>
      <h5 class="PrettyTimestamp">{{prettyTimestamp}}</h5>
    </div>
    <div class="Text">
      <h5 class="TextH">Your Total Balance</h5>
    </div>
  </div>

  <div class="Send">
    <div class="SendText">
      <h5>Send Money</h5>
    </div>
    <div class="SendMeta">
      <div class="SendTo">
        <input class="SendToIn" placeholder="Enter a username">
      </div>
      <div class="Amount">
        <input class="AmountIn" placeholder="Choose an amount">
      </div>
    </div>
    <div class="Button">
      <button class="SendButton">Send Money</button>
    </div>
  </div>

  <div class="Card">
    <div class="YourCard">
      Your Card
    </div>
    <div class="CardImage">
      <div class="card">
        <div class="card__front card__part">
          <img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
          <img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
          <p class="card_numer">**** **** **** 6258</p>
          <div class="card__space-75">
            <span class="card__label">Card holder</span>
            <p class="card__info">John Doe</p>
          </div>
          <div class="card__space-25">
            <span class="card__label">Expires</span>
            <p class="card__info">10/25</p>
          </div>
        </div>

        <div class="card__back card__part">
          <div class="card__black-line"></div>
          <div class="card__back-content">
            <div class="card__secret">
              <p class="card__secret--last">420</p>
            </div>
            <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
            <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="Again">
    <h5>Send Again</h5>
    <div class="Icons">
      Icon Icon Icon Icon
    </div>
  </div>

  <div class="Activity">
    <div class="Activity-1">
      <button></button>
      <h6>Activity1</h6>
      <h6>04 Jan 2021, 09:20AM</h6>
      <h5>- $800.00</h5>
    </div>
    <div class="Activity-2">
      <button></button>
      <h6>Activity1</h6>
      <h6>04 Jan 2021, 09:20AM</h6>
      <h5>- $800.00</h5>
    </div>
    <div class="Activity-3">
      <button></button>
      <h6>Activity1</h6>
      <h6>04 Jan 2021, 09:20AM</h6>
      <h5>- $800.00</h5>
    </div>
    <div class="See-More">
      <button>See More</button>
    </div>
  </div>

  <div class="Analytics">
    <div class="PaymentAnalytics">
      <h5>Payment Analytic</h5>
    </div>
    <div class="Graphs"></div>
    <div class="History">
      <div class="InvoiceActivity">
        <h5>Transactions</h5>
      </div>
      <div class="InvoiceHeader">
      </div>
      <div class="InvoiceEntries">
<!--        <table>-->
<!--          <thead>-->
<!--            <tr>-->
<!--              <th>Sender</th>-->
<!--              <th>Recipient</th>-->
<!--              <th>Status</th>-->
<!--              <th>Action</th>-->
<!--              <th>Amount</th>-->
<!--            </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--            <tr *ngFor="let transaction of transactions">-->
<!--              <td>{{transaction.senderName}}</td>-->
<!--              <td>{{transaction.receiverName}}</td>-->
<!--              <td>{{transaction.status}}</td>-->
<!--              <td><select></select></td>-->
<!--              <td>{{transaction.amount}}</td>-->
<!--            </tr>-->
<!--          </tbody>-->
<!--        </table>-->
      </div>
    </div>
  </div>

</div>
